.App {
  text-align: center;
}
body{
  height: 100vh;
 background: #f0ecec url("https://images.pexels.com/photos/355748/pexels-photo-355748.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")  repeat fixed top left; 
  }
  .image{
    width: 300px;
    margin-top:80px;
    margin-bottom:8px;
    padding:5px;
    transition: all 1s ease-out ;
  }
  
  .image:hover{
    border:1px solid black;
    border-radius:  10px;
    width: 350px; 
    opacity: 1;
  
  }
  .button {
    padding: 5px;
    border-radius: 50px;
    margin: 30px;
    width: 270px;
    font-size: 50px;
    font-weight: 1000;
    border-color: #dbbf34;
    color: rgb(160, 31, 141);
    box-shadow: 0 0 40px 40px #34bcdb inset, 0 0 0 0 #cf2a8d;
    transition: all 150ms ease-in-out;
    opacity:1 ;
  }
  .button:hover {
    box-shadow: 0 0 10px 0 #06ad43 inset, 0 0 10px 4px #3498db;
    border-radius:  10px;
    width: 350px; 
    opacity: 1.5;
  }
  .txt{
    margin-top: 30px;
    font-size: 50px;
    font-weight: 600;
    background-image:linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    background-clip: text;
  
  }
  .cnt{
    margin-top: 30px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
    background-clip: text;
    color: #553c9a;
  }
  .titre{
    font-style:oblique;
    color: white;
    background-color: blue;
    padding: 5px;
    border: 1px solid black;}
    .bio{
      font-style:italic;
      color:aqua;
      background-color:linen;
      padding: 5px;
      border: 1px solid black;
    }
    .pro{
      font-style:italic;
      color:rgb(255, 0, 195);
      background-color:rgb(128, 136, 184);
      padding: 5px;
      border: 1px solid black;
    }

